{% if breadcrumbs and breadcrumbs.length %}
<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol>
    {% for crumb in breadcrumbs %}
    <li>
      {% if loop.last %}
      <span aria-current="page">{{ crumb.name }}</span>
      {% else %}
      <a href="{{ crumb.url }}">{{ crumb.name }}</a> /
      {% endif %}
    </li>
    {% endfor %}
  </ol>
</nav>
{% endif %}
