{% from "icons/icons.njk" import chevron %}
{% macro faqBlock(items) %}
<div class="faq-list">
  {% for item in items %}
  <details class="faq-item">
    <summary class="faq-item__summary">
      <h3 class="faq-item__question">{{ item.q }}</h3>
      {{ chevron("faq-item__icon") }}
    </summary>
    <p class="faq-item__answer">{{ item.a }}</p>
  </details>
  {% endfor %}
</div>
{% endmacro %}
